@import '../../../assets/css/color.scss';
.path-view-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  & .nav {
    display: flex;
    position: relative;
    padding: 0 0 4px;

    & .pathview-loading {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: $El_color_bg_active;
      opacity: 0;
    }
    .loading-animated {
			animation: pathGetAnimate 2s linear 0s infinite normal;
		}
		@keyframes pathGetAnimate {
			0% {
        opacity: 1;
        width: 0%;
      }
			100% {
        opacity: 1;
        width: 100%;
      }
		}
  }

  & .path-icon {
    cursor: pointer;
    transition: all ease .5s;
    background-color: $El_color_bg;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
      background-color: $El_color_bg_active;
    }
  }

  & .path-detail-box {
    display: flex;
    flex: 1;
    margin: 0 15px;

    & .path-choose-el-box {
      display: flex;
      flex: 1;

      & .path-choose-el {
        transition: all ease .5s;
        cursor: pointer;
        padding: 0 10px;
        margin: 0 0 0 3px;
        border-radius: 3px;
        line-height: 30px;
        background-color: $El_color_bg;

        &:hover {
          color: rgba(0, 0, 0, 0.8);
          background-color: $El_color_bg_active;
        }
        &:last-child {
          flex: 1;
        }

      }

    }
  }

  & .files-detail-box {
    flex: 1;
    overflow-y: scroll;
    margin: 20px 0 0;
    padding: 0 0 20px;

    & .hidden-detail-item {
      opacity: 0.5;
    }
    & .detail-item {
      transition: all ease .3s;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 20px;
      border-radius: 3px;
      line-height: 50px;

      &:hover {
        color: rgba(0, 0, 0, 0.8);
        background-color: $El_color_bg;
      }

      & .detail-icon {
        margin: 0 20px 0 0;
        color: $active_color;
      }
    }
  }
}