@import '../../../assets/css/color';
@import '../../../assets/css/common';
.home-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $B_color;

  // view
  & .view-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & .top-box {
      width: 100%;
      text-align: center;
      padding: 10px 0;

      & .size-input {
        display: inline-block;
        text-align: center;
        background: none;
      }
      & .size-symbol {
        display: inline-block;
        padding: 0 10px;
      }
      & .device-show {
        cursor: pointer;
      }
    }
    & .view-detail {
      transition: all .5s ease;
      background: #fff;
    }
  }
  
  // tool
  & .tool-detail {
    height: 55px;
    width: 100%;
    background: $B_color_top;
  }
}