@import '../../../assets/css/color';
@import '../../../assets/css/common';
.home-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $B_color;

  // view
  & .view-container {
    position: absolute;
    transition: all .5s ease;
    top: 75px;
    left: 50%;
    transform: translate(-50%, 0);
    transform-origin: center 0 0;
    margin: 0 0 30px;
    & .top-box {
      width: 100%;
      text-align: center;
      padding: 10px 0;

      & .size-input {
        display: inline-block;
        text-align: center;
        background: none;
      }
      & .size-symbol {
        display: inline-block;
        padding: 0 10px;
      }
      & .device-show {
        cursor: pointer;
      }
    }
    & .view-detail {
      transition: all .5s ease;
      overflow-y: scroll;
      background: #fff;
    }
  }
  
  // tool
  & .tool-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 100%;
    background: $B_color_top;
  }
  // browse
  & .browse-container {
    height: calc(100% - 55px);
    width: 200px;
    background: pink;
  }
}