@import './default';
@import '../font/iconfont.css';
@import './color';
body {
  overflow: hidden;
  // min-width: 1000px;
  background: $B_color;
  color: $T_color;
}

// 移动端 1px 问题
.line {
  position: relative;
  width: 100%;
  height: 1px;

  &:after {
    position: absolute;
    content: '';
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-top: 1px solid rgba(0,0,0,0.1);
  }
}

.noSelect {
  // 禁止文本选中
  user-select: none;
}
.noShow{ 
  // 禁止图片预览拖拽，img 上的事件会无法触发
  pointer-events: none; 
}

.title-large {
  font-size: 26px;
  color: $Tit_color;
}

.title-medium {
  font-size: 22px;
  color: $Tit_color;
}

.title-small {
  font-size: 18px;
}



#app {
  height: 100%;
}
.wrap {
  height: 100%;
}
.router-container {
  height: 100%;
}
